<h1>Find Us</h1>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=aberdeen+university&amp;aq=&amp;sll=51.497175,-0.152006&amp;sspn=0.004936,0.01369&amp;t=h&amp;ie=UTF8&amp;hq=aberdeen+university&amp;hnear=&amp;radius=15000&amp;ll=57.163971,-2.101524&amp;spn=0.017197,0.038409&amp;z=14&amp;iwloc=A&amp;cid=1029599312783480298&amp;output=embed"></iframe>
<br />
<small>
  <a href="http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=aberdeen+university&amp;aq=&amp;sll=51.497175,-0.152006&amp;sspn=0.004936,0.01369&amp;t=h&amp;ie=UTF8&amp;hq=aberdeen+university&amp;hnear=&amp;radius=15000&amp;ll=57.163971,-2.101524&amp;spn=0.017197,0.038409&amp;z=14&amp;iwloc=A&amp;cid=1029599312783480298" style="color:#0000FF;text-align:left">View Larger Map</a>
</small>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus dui, sagittis sed euismod at, sodales at nibh. Quisque tempus scelerisque arcu at mollis. Curabitur pretium urna dui. Nulla id metus vitae augue tempus bibendum id vitae turpis. Vivamus mollis varius ante quis accumsan. Fusce eu erat mi, ac volutpat lacus. Praesent at odio id eros pretium ullamcorper nec vestibulum dolor. Sed orci leo, mattis eu vulputate eu, convallis ac mi. Aenean sit amet ipsum magna. Cras et nisi nec mi porta vestibulum at eu orci. Ut accumsan, neque at pulvinar consectetur, turpis neque egestas massa, vel laoreet ante mi a diam. Morbi vehicula erat id augue dapibus sed gravida mauris dictum. Sed ligula elit, porta id ultrices eu, accumsan ac ligula. Quisque pharetra tincidunt erat, in convallis nibh interdum at. Fusce eleifend, quam in rutrum varius, magna dui porta ligula, id tempor urna odio quis neque. Donec at ipsum in diam auctor vestibulum a tempus arcu. 

</p>