<h1>Welcome to the Online Chocolate Shop!</h1>

<p>
  At Chocolate World we are passionate about chocolate that tastes great and feels great too!
  We strongly believe in using the highest quality, ethically sources ingredients from around the world.
</p>

<img src="http://www.obanfairtrade.org.uk/wp-content/uploads/2010/09/Fairtrade16.jpg" alt="Ethical trading" width="500px"/>

<p>
  This website allows fellow chocolate lovers to browse products, place orders, read chocolate news and contact us.
</p>