<h2>Your Chocolate</h2>

<ul>
<% for item in @cart.line_items %>
  <p id="notice"><%= notice %></p>
  <li><%= item.product.title %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
