<h1>Contact Us</h1>

<form method="post" action="http://www.abdn.ac.uk/~csc256/post.php">
  
    <p>Your Name:</p>
      <input type="text" name="name" id="name" size="30"/>
    <p>Your Email Address:</p>
      <input type="text" name="email" id="email" size="30"/>
    <p>Your Email Address:</p>
      <input type="text" name="email" id="email" size="30"/>
    <p>Subject</p>
      <select name="cars">  
        <option value="fiat" selected="selected">Please Select</option>
        <option value="volvo">Parcel not delivered</option>
        <option value="saab">Change my order</option>          
        <option value="audi">Website feedback</option>
        <option value="audi">Store queries</option>
        <option value="audi">Other</option>
      </select>
    <p>Your Message</p>
      <textarea rows="10" cols="30">Put your message here.
      </textarea>
    <p>
      <input type="submit" value="Submit" />
      <input type="reset" value="Clear the form" />
    </p>
  
</form>